<nav class="navbar navbar-expand-lg bg-black" data-bs-theme="dark">

	<div class="container-fluid px-4">
		<a class="navbar-brand fs-4 fw-bold" href="#">
			Job4You
		</a>  
		<button
			type="button"
			class="navbar-toggler shadow-none border-0"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav text-light ms-auto">
				<a class="nav-link" href="/">Home</a>
				<a class="nav-link" href="/sobre">Sobre a empresa</a>
				<a class="nav-link" href="/usuario/criar-conta">Cadastrar-se</a>
				<a class="nav-link" href="/autenticacao">Entrar</a>
			</div>
		</div>
	</div>

</nav>
