{% macro render(href, text, variant = 'text', class = '') %}
	{% set variants = {
		'text': 'font-medium text-gray-500 hover:text-gray-600',
		'button': 'bg-yellow-500 hover:opacity-80 text-gray-100',
		'outlined': 'bg-transparent border-2 border-yellow-500 text-yellow-500 hover:bg-yellow-500/10',
		'ghost': 'outline-none bg-transparent text-gray-600 hover:bg-gray-100',
		'danger': 'bg-rose-500 hover:bg-rose-600 text-gray-100',
		'base': 'text-center cursor-pointer py-2 px-6 rounded-full shadow-sm font-medium transition-all'
	} %}

	<a href="{{ href }}" class="{{ variant == 'text' ? variants[variant] : variants.base ~ ' ' ~ variants[variant] }} {{ class }}">
		{{ text }}
	</a>
{% endmacro %}
