{% extends "Layouts/main.layout.twig" %}

{% block title %}Serviços | Job4You{% endblock %}

{% block main %}
<section class="py-12">
	<div class="max-w-7xl mx-auto px-6 text-center">
		<h1 class="text-4xl font-bold text-gray-900 mb-4">
			{% if categorias|length > 0 %}
			{% set categoria = categorias|first %}
			Prestadores de {{ categoria.nome }}
			{% else %}
			Encontre Serviços Informais em Diversas Categorias
			{% endif %}
		</h1>
		<span class="text-xl text-gray-600">
			{% if categorias|length > 0 %}
			Profissionais qualificados nesta categoria
			{% else %}
			Todas as categorias disponíveis estão listadas abaixo
			{% endif %}
		</span>
	</div>
</section>

{% include "Partials/servicos/_carrossel-prestador.twig" %}

{% include "Partials/servicos/_categorias.twig" %}

{% include "Partials/servicos/_modal-prestador.twig" %}
{% endblock %}