<div class="space-y-6">
    {% include '@modal-prestador/informacoes.twig' %}
    {% include '@modal-prestador/sobre.twig' %}
    {% include '@modal-prestador/contato.twig' %}
    {% include '@modal-prestador/acoes.twig' %}
</div> 