<div>
    <h4 class="font-semibold text-gray-800 mb-2">Contato</h4>
    <div class="space-y-2">
        <div id="modalWhatsapp" class="flex items-center text-gray-600">
            <i class="fab fa-whatsapp text-green-500 mr-2"></i>
            <span></span>
        </div>
        <div id="modalCelular" class="flex items-center text-gray-600">
            <i class="fas fa-phone text-blue-500 mr-2"></i>
            <span></span>
        </div>
        <div id="modalFacebook" class="flex items-center text-gray-600">
            <i class="fab fa-facebook text-blue-600 mr-2"></i>
            <span></span>
        </div>
    </div>
</div> 