<div>
    <h4 class="font-semibold text-gray-800 mb-2">Informações</h4>
    <div class="grid grid-cols-2 gap-4">
        <div>
            <p class="text-sm text-gray-600">Valor</p>
            <p id="modalValor" class="font-medium"></p>
        </div>
        <div>
            <p class="text-sm text-gray-600">Avaliação</p>
            <div class="flex items-center">
                <div id="modalAvaliacao" class="text-yellow-400"></div>
                <span id="modalQuantidadeFavorito" class="text-gray-500 text-sm ml-1"></span>
            </div>
        </div>
    </div>
</div> 