{% macro render() %}
    <div id="prestadorModal" class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50">
        <div class="bg-white rounded-lg max-w-2xl w-full mx-4 overflow-hidden">
            <div class="p-6">
                {% include '@modal-prestador/header.twig' %}
                {% include '@modal-prestador/content.twig' %}
            </div>
        </div>
    </div>
{% endmacro %} 