@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  font-family: "Reddit Sans", sans-serif;
}

body {
  -webkit-font-smothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Espaçamento nas seções principais */
.hero-section {
  padding: 60px 0;
}

/* Imagens responsivas */
.hero-img {
  max-width: 100%;
  height: auto;
}