{% extends "Layouts/main.layout.twig" %}

{% block main %}
  <main class="container flex-fill hero-section">
    <div class="row align-items-center">

      <div class="col-md-6 mb-4 mb-md-0">
        <img src="/images/img3.jpg" alt="Trabalho Informal" class="hero-img">
      </div>

      <div class="col-md-6 text-center text-md-start">
        <h1 class="mb-4 fw-bold">Encontre ou divulgue serviços informais facilmente</h1>
        <p class="mb-4">
          Na Job4You você encontra prestadores de serviços informais confiáveis ou pode anunciar seu trabalho para milhares de clientes!
        </p>
        <div>
          <a href="/servicos" class="btn btn-outline-primary me-3">Ver Serviços</a>
          <a href="/servicos" class="btn btn-outline-primary">Cadastrar Serviço</a>
        </div>
      </div>

    </div>
  </main>
{% endblock %}
