{% extends "Layouts/main.layout.twig" %}

{% block main %}
	<section class="max-w-7xl mx-auto px-4 md:px-0 py-8 h-full">
		{% include "Partials/main/_hero.twig" %}
	</section>

	<section class="max-w-6xl px-4 md:px-0 py-8 mx-auto">
		<header class="text-center mb-16">
			<h2 class="text-4xl md:text-5xl font-bold text-gray-900 mb-4 leading-tight">
				Conectando profissionais e clientes
			</h2>
			<div class="w-1/2 h-px bg-gray-700/50 mx-auto"></div>
		</header>

		<div class="flex flex-col lg:flex-row gap-12 xl:gap-16">
			{% include "Partials/main/_sobre_coluna_esquerda.twig" %}
			{% include "Partials/main/_sobre_coluna_direita.twig" %}
		</div>
	</section>
{% endblock %}