body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  
.main-content {
  flex: 1;
}
  
.hero-section {
  padding: 60px 0;
}
  
.hero-img {
  max-width: 100%;
  height: auto;
}

.navbar {
  background-color: #000000 !important;
}
  
.navbar .nav-link,
.navbar .navbar-brand {
  color: white !important;
}
  
.btn-login {
  background-color: #f64b5a;
  color: #000000;
  font-weight: bold;
  border: none;
}
  
.btn-login:hover {
  background-color: #d13e47; 
  color: #000000;
}
  
.btn-outline-primary {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-weight: bold;
}
  
.btn-outline-primary:hover {
  background-color: #f64b5a;
  border-color: #f64b5a;
  color: black;
}
  
.login-container, .container.d-flex {
  flex: 1;                   
  display: flex;
  align-items: center;       
  justify-content: center;   
  padding: 0;                
}
  
.login-card {
  max-width: 400px;
  width: 100%;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 12px;
}
  

.input-group .btn-outline-secondary {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.login-card {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-card h3 {
  text-align: center;
  font-weight: bold;
}

.login-card .form-label {
  font-weight: 500;
}

.login-card .form-control,
.login-card .form-select {
  margin-bottom: 1rem;
}


.login-card .btn-login {
  background-color: #f64b5a;
  color: #000000;
  font-weight: bold;
  border: none;
}

.login-card .btn-login:hover {
  background-color: #d13e47;
  color: #000000;
}

/* em fase de teste */
.btn-warning {
  background-color: #f64b5a;
  color: black;
  font-weight: bold;
  border: none;
}

.btn-warning:hover {
  background-color: #d13e47;
  color: black;
}

/* categorias */
.card .btn-primary {
  background-color: #f64b5a;
  color: black;
  font-weight: bold;
  border: none;
}

.card .btn-primary:hover {
  background-color: #d13e47;
  color: black;
}

footer {
  background-color: #000000;
  color: white;
  padding: 20px 0;
  text-align: center;
}