/* ================================
Global Css - Job4You :)
================================ */


html, body {
  height: 100%; /* Faz com que o body ocupe a tela toda */
}

body {
  display: flex;
  flex-direction: column; /* Deixa o footer lá embaixo */
}

main {
  flex: 1; /* Cresce para ocupar o espaço entre header e footer */
}

.hero-image {
  max-height: 80vh; /* Tamanho da imagem principal */
  width: auto;
}

/* Remove o botão de visualização de senha padrão do Chrome e do Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
}

@media (max-width: 767px) {
  .hero-image {
    max-height: 50vh; /* Responsividade para telas menores */
  }
}


