<!DOCTYPE html>
<html lang="pt">
  <head>
    {% block metas %}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block links %}
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/css/bootstrap-icon.min.css">
      <link rel="stylesheet" href="/assets/css/style.css">
    {% endblock %}

    <title>JOB4YOU</title>
  </head>
  <body>
    {% block content %}{% endblock %}

    {% block scripts %}
      <script src="/assets/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
  </body>
</html>