<div class="sidebar fixed h-full bg-gray-800 text-white">
  <div class="p-4">
    <h1 class="text-2xl font-bold">Job4You ADM</h1>
  </div>
  <nav class="mt-6">
    <ul>
      <li class="px-4 py-3 hover:bg-gray-700">
        <a href="#" class="flex items-center">
          <i class="bi bi-house-door mr-2"></i> Home
        </a>
      </li>
      <li class="px-4 py-3 bg-gray-700">
        <a href="#" class="flex items-center">
          <i class="bi bi-people mr-2"></i> Usuários
        </a>
      </li>
      <li class="px-4 py-3 hover:bg-gray-700">
        <a href="#" class="flex items-center">
          <i class="bi bi-briefcase mr-2"></i> Prestadores
        </a>
      </li>
      <li class="px-4 py-3 hover:bg-gray-700">
        <a href="#" class="flex items-center">
          <i class="bi bi-tools mr-2"></i> Serviços
        </a>
      </li>
      <li class="px-4 py-3 hover:bg-gray-700">
        <a href="#" class="flex items-center">
          <i class="bi bi-check-circle mr-2"></i> Aprovações
        </a>
      </li>
      <li class="px-4 py-3 hover:bg-gray-700">
        <a href="#" class="flex items-center">
          <i class="bi bi-gear mr-2"></i> Configurações
        </a>
      </li>
      <li class="px-4 py-3 hover:bg-gray-700 mt-6 border-t border-gray-600">
        <a href="#" class="flex items-center text-red-400">
          <i class="bi bi-box-arrow-right mr-2"></i> Sair
        </a>
      </li>
    </ul>
  </nav>
</div>