{% extends "root.layout.twig" %}

{% block content %}
  {% block siderbar %}{% include "Partials/admin/_sidebar.twig" %}{% endblock %}

  <div class="flex">
    {% block painel %} {% endblock %}
  </div>
{% endblock %}