{% extends "root.layout.twig" %}

{% block content %}
  <div class="flex flex-col min-h-screen bg-gray-50">
    {% block header %} {% include "Components/header.twig" %} {% endblock %}

    {% block main %} {% endblock %}

    {% block footer %} {% include "Components/footer.twig" %} {% endblock %}
  </div>
{% endblock %}